.intro-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr ;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}
.intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 6rem;
}
.intro-img{
    max-width: 100%;
    height: auto;
}

.top-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.grid-one-content{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;

}
.grid-main-heading{
    margin-bottom: 1rem;
}
.grid-descriptio{
    padding-bottom: 4rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
    counter-reset: gridcounter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid h3::before{
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -0.5rem;
    left: 0;
    transform: rotate(5deg);
}
.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-img img{
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover{
    transform: translate(3%,3%) scale(1.2) rotate(5deg);
}
.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.form-group{
    flex: 1 1 32rem;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input, .form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size:3rem ;
    outline: none;
}
.form-group input:focus, .form-group textarea:focus{
    box-shadow: 0 0 1rem  0.2rem var(--secondary-color);
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}
.form-group ::placeholder{
    color: var(--light-gray-color);
}
.footer{
    text-align: center;
    font-size: 1.rem;
}
.footer a{
    color: #444;
}
.footer p{
    margin: 0;
    padding: 3rem;
}
.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:var(--primary-color) ;
    border: 0.1rem solid var(--primary-color);

}
/* Media query para telas menores que 768px (por exemplo, tablets e dispositivos móveis) */
@media only screen and (max-width: 768px) {
    /* Estilo para o menu */
    .menu {
        position: fixed; /* Torna o menu fixo para melhorar a acessibilidade em dispositivos móveis */
        top: 0;
        left: -100%; /* Esconder o menu quando não estiver sendo usado */
        width: 80%; /* Largura do menu em telas pequenas */
        height: 100%; /* Altura do menu em telas pequenas */
        background-color: #fff; /* Cor de fundo */
        transition: left 0.3s ease; /* Adiciona uma transição suave para o efeito de abertura/fechamento */
    }
    .menu.open {
        left: 0; /* Exibe o menu quando estiver aberto */
    }
    .menu-content {
        padding-top: 50px; /* Adiciona espaço acima do conteúdo do menu para não ser coberto pelo cabeçalho fixo */
    }

    /* Estilo para o botão do menu */
    .menu-button {
        display: block; /* Exibe o botão do menu */
    }

    /* Estilo para as imagens na galeria */
    .gallery-img {
        width: 100%; /* Define a largura das imagens para ocupar toda a largura da tela */
    }
}/* Estilos para o ícone do menu */
.menu-toggle {
    display: none; /* Oculta o botão do menu por padrão */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para o menu principal em telas pequenas */
@media only screen and (max-width: 768px) {
    .menu {
        display: none; /* Oculta o menu principal por padrão em telas pequenas */
        /* Outros estilos para o menu em telas pequenas */
    }
}
